# Don't count build artifacts in language stats
notebooks/** linguist-detectable=false

# Ignore documentation / assets for language stats
# ...

# Force Python as the main language
*.py linguist-language=Python
